[submodule "Dependencies/libpng"]
	path = Dependencies/libpng
	url = https://github.com/pnggroup/libpng
[submodule "Dependencies/zlib"]
	path = Dependencies/zlib
	url = https://github.com/madler/zlib
